extends ./index.jade
block append style
  link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  div#wrapper
    h1 Account page
    div(class="navi")
        div(class='right')
          p#user Welcome, #{user}
          a(class="navi" href="/record") Your Records
          a(class="navi" href="/logout") Logout
        a(class="navi" href="/") Game
        a(class="navi" href="/highscore") Score Board
    section#record
      if !records || records.length == 0
        div.record
          h3 No Records Yet
      else
        each val in records
          h2 Date: #{val.createdDate}
          div.record
            h3.right2 Party Info
            h3 User: #{val.user}
            div#left
              p Type: #{val.type}
              p Level: #{val.level}
              p MaxHp: #{val.maxHp}
              p Max Energy: #{val.maxEnergy}
              p Min Damage: #{val.minDamage}
              p Max Damage: #{val.maxDamage}
              p Deaths: #{val.deaths}
            div#right
              p Party Size: #{val.partySize}
              p Party Deaths: #{val.partyDeaths}
              p Enemies Killed: #{val.enemiesKilled}
            div.clear
